html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
	min-height: 100%;
}

body {

	font-size: 16px;
	padding: 2em;
	font-family: sans-serif;

	background: #c986a4; /* Old browsers */
	background: -moz-linear-gradient(top, #c986a4 0%, #410d39 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c986a4), color-stop(100%,#410d39)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #c986a4 0%,#410d39 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #c986a4 0%,#410d39 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #c986a4 0%,#410d39 100%); /* IE10+ */
	background: linear-gradient(to bottom, #c986a4 0%,#410d39 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c986a4', endColorstr='#410d39',GradientType=0 ); /* IE6-9 */
}

.page-header img {
	float: left;
	height: 10em;
}

.page-header h1 {
	text-align: center;
	color: white;
	font-size: 5em;
}

.page-header:after {
	display: table;
	content: ' ';
	clear: both;
}

ul {
	list-style: none;
}

li {
	font-size: 2em;
	background: white;
	padding: 1em;
	margin: 1em 0;
}

li.text-hidden {
	background: #eee;
	color: gray;
}

.message-header {
	border-bottom: 1px gray solid;
	margin-bottom: 1em;
	padding-bottom: 1em;
}

.message-header:after {
	display: table;
	content: ' ';
	clear: both;
}

.message-header h2 {
	float: left;
}

.message-header button {
	float: right;
	background: gray;
	color: white;
	border: none;
	font-size: .5em;
	padding: 1em 2em;
	cursor: pointer;
}